---
layout: default
---

<section class="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
  <span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
    <a href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
</section>


<!-- For Tagging Scripture. From Faithlife Reftagger. -->
<script>
  var refTagger = {
    settings: {
      bibleVersion: 'ESV'
    }
  }; 

  (function(d, t) {
    var n=d.querySelector('[nonce]');
    refTagger.settings.nonce = n && (n.nonce||n.getAttribute('nonce'));
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.src = 'https://api.reftagger.com/v2/RefTagger.js';
    g.nonce = refTagger.settings.nonce;
    s.parentNode.insertBefore(g, s);
  }(document, 'script'));
</script>

